= semantic_form_for @project do |f|
  = f.inputs do
    = f.input :title
    = f.input :url
    = f.input :description
    = f.input :image
    = f.input :image_cache, :as => :hidden
    = image_tag(@project.image_url) if @project.image?
  = f.buttons