!!!
%html
  %head
    %title Portfolio
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .two-thirds.column
        %p.about I'm Matt Schultz, a <strong>Ruby Developer</strong> in Orlando, Florida. I work at <a href="http://izea.com" target="_blank">IZEA</a>, where I am the lead developer of <a href="http://socialspark.com" target="_blank">SocialSpark</a>. Check out some of my projects below or learn more about me on <a href="http://www.linkedin.com/in/mattheweschultz" target="_blank">LinkedIn</a>.
        = flash[:notice]
        = flash[:alert]
        = yield
      .one-third.column
        - if current_user
          = link_to 'Sign out', destroy_user_session_path
        %p Want to get in touch? I'm <a href="https://twitter.com/#!/mattschultz">@mattschultz</a> on Twitter, or just fill out the contact form below.